@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensanscondensed/v15/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDuXMRw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Julius Sans One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/juliussansone/v9/1Pt2g8TAX_SGgBGUi0tGOYEga5WOwnsX.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  min-width: 300px;
  min-height: 400px;
}

body {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #5f0f40;
}

nav a {
  color: inherit;
  text-decoration: inherit;
}

nav p {
  color: #FFE1A8;
  padding: 2px;
  font-family: 'Open Sans Condensed';
  font-size: 23px;
  font-weight: bold;
}

.name {
  display: flex;
  justify-content: center;
}

h1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Julius Sans One';
  width: 300px;
  height: 90px;
  border: 3px solid #5f0f40;
  border-radius: 1rem;
  margin: 10px;
  margin-bottom: 10px;
  padding: 10px;
  color: #5f0f40;
  background-color: white;
}

h3.costumes, h3.clothes, h3.pants {
  width: 200px;
  font-family: 'Julius Sans One';
  color: #c0c0c0;
  transition: color 400ms linear;
}

h3:hover {
  color: black;
}

h3.sizes {
  display: inline;
  justify-content: center;
}

h4, p {
  font-family: 'Open Sans Condensed';
}

.page {
  display: grid;
  grid-template: repeat(10, 50px) / repeat(19, 50px);
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.right {
  display: grid;
  grid-area: 1 / 1 /span 10 / span 4;
  border: 2px solid #c0c0c0;
  border-radius: 3px;
  font-family: 'Open Sans Condensed';
  background-color: #f8f9fa;
}

.search {
  grid-area: 1 / 1 / span 3 / span 3;
  position: relative;
  top: 20px;
}

input[type="text"] {
  width: 130px;
}

.price {
  display: grid;
  grid-area: 4 / 1 / span 3 / span 3;
  justify-content: center;
  padding: 4px;
  border-top: 2px solid #c0c0c0;
  border-bottom: 2px solid #c0c0c0;
}

input[type="submit"] {
  font-family: 'Open Sans Condensed';
  font-weight: bold;
}

.size {
  display: block;
  justify-content: center;
  grid-area: 8 / 1 / span 2 / span 3;
}

.dresses {
  grid-area: 1 / 6 / span 4 / span 3;
  position: relative;
}

.costumes {
  position: relative;
  right: 15px;
  bottom: 135px;
}


img.dress {
  width: 160px;
  height: 200px;
  padding: 3px;
  opacity: 0.5;
  transition: all .2s linear;
  border: 2px solid #c0c0c0;
  border-radius: 3px;
}


img.dress:hover {
  transform: scale(1.1);
  opacity: 1;
}

.t-shirt {
  grid-area: 1 / 11 / span 4 / span 3;
  position: relative;
}

.clothes {
  position: relative;
  right: 15px;
  bottom: 135px;
}

img.shirt {
  width: 170px;
  height: 200px;
  padding: 3px;
  transition: all .2s linear;
  border: 2px solid #c0c0c0;
  border-radius: 3px;
  opacity: 0.5;
}

img.shirt:hover {
  transform: scale(1.1);
  opacity: 0.4;
  opacity: 1;
}

.jeans {
  grid-area: 1 / 16 / span 4 / span 3;
  position: relative;
}

img.w-jean {
  width: 160px;
  height: 200px;
  padding: 3px;
  transition: all .2s linear;
  border: 2px solid #c0c0c0;
  border-radius: 3px;
  opacity: 0.5;
}

.pants {
  position: relative;
  right: 15px;
  bottom: 135px;
}

img.w-jean:hover {
  transform: scale(1.1);
  opacity: 0.4;
  opacity: 1;
}

.shoes {
  grid-area: 6 / 6 / span 4 / span 3;
}

img.dc {
  width: 165px;
  height: 150px;
  transition: all .2s linear;
  border: 2px solid #c0c0c0;
  border-radius: 3px;
}

img.dc:hover {
  transform: scale(1.1);
}

.hair {
  grid-area: 6 / 11 / span 4 / span 3;
}

img.garnier {
  width: 170px;
  height: 150px;
  padding: 3px;
  transition: all .2s linear;
  border: 2px solid #c0c0c0;
  border-radius: 3px;
}

img.garnier:hover {
  transform: scale(1.1);
}

.skin {
  grid-area: 6 / 16 / span 4 / span 3;
}

img.nivea {
  width: 160px;
  height: 150px;
  padding: 3px;
  transition: all .2s linear;
  border: 2px solid #c0c0c0;
  border-radius: 3px;
}

img.nivea:hover {
  transform: scale(1.1);
}

form.range-p {
  display: flex;
}

.prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.size-i {
  justify-content: space-around;
}

footer {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  background-color: #5f0f40;
  color: #FFE1A8;
  margin: 0 auto;
  position: relative;
  top: 59px;
  font-size: 23px;
  font-weight: bold;
}
